* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to left bottom, #575dd8, #7a66d8, #9571d9, #ac7dda, #bf8adb, #bc89d9, #b888d7, #b587d5, #9a78cf, #7b6bc8, #565fc2, #1254bb);
    color: #FFFFFF;
    font-family: sans-serif;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}